.mainFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 250px; */
  padding: 1rem 20%;
  background-color: #333;
  text-align: center;
  margin-top: 5em;
}
.mainFooter *, .mainFooter a {
  color: white;
}
.mainFooter .footerLogo {
  font-size: 2.5rem;
  color: #333;
  background-color: white;
}
.mainFooter a {
  text-decoration: none;
}
.mainFooter a:hover {
  color: rgb(4, 150, 255)
}
.footerNavList {
  display: flex;
  padding: 0;
  list-style: none;
}
.footerNavList li {
  border-top: 1px double white;
  border-bottom: 1px double white;
  padding: 0.4rem;
  font-size: 0.8rem;
}

/* footer */
footer {
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}
#footerLogo > a {
  background-color: white;
  color: black;
  border-radius: 1px;
  padding: 2px;
  text-align: center;
}
.footerLogoContainer {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
footer .links {
  display: flex;

}
.footerLink {
  margin-right: 1.5em;
}
.copy {
  margin-top: 1em;
  color: white;
}
.hidden {
  display: none;
}
