/* PHASE 12: Modal */

.modal{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;


}



.modal-screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
    
}

.modal-form {
    display: flex;
    background: white;
    text-align: center;
    width: 50%;
    position: absolute;
    margin: auto;
    z-index: 3;
}