.list {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 400px;
    overflow: auto;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
}

.nickName {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    display: flex;
    align-items: baseline;
    width: 100px;
}

.date {
    font-size: 10px;
    color: grey;
    margin: 0 0 0 10px;
}

.text {
    font-size: 14px;
    margin: 0 0 10px 0;
}

.message {
    display: flex;
    flex-direction: column;
}

