extends profile
include includes/utils

block userTabContent
  ul.profileFeed
    h2.tabTitle #{user.firstName} #{user.lastName}'s Bookmarks
    each bookmark in bookmarkedStories
      li.card: +storyCardFull(bookmark.Story)