
block.splashBody
  .headlineOne
    h1.splashSubHeadGroup.splashPageText Show everyone <br> what matters to you.
    h2.headlineOneTag.splashPageText Explore new interests and bring discussion to the table.
    .gridOfButtons
      .bearButton1.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
      .bearButton2.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
      .bearButton3.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
      .bearButton4.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
      .bearButton5.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
      .bearButton6.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
      .bearButton7.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
      .bearButton8.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
      .bearButton9.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
      .bearButton10.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
      .bearButton11.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
      .bearButton12.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
      .bearButton13.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
      .bearButton14.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
      .bearButton15.bearButtonContainer.bearButtonContainerHover
        img(src="/icons/Bear_of_California_(Black).svg" class="buttonBear" width=30 height=30 viewbox="0 0 30 30" fill="none")
        .bearButtonText Bears
    .signUpBanner
      button.signUpBanner#signUpBanner.splashPageText Get Started
    .borderLine
  h1.spashHead.splashPageText ME DAYUM
  .healineOneSpan
    img(src="/icons/Bear_of_California_glow_2.svg" class="californiaBear")
    h2.splashTextOne Find riveting stories about bears here!
  .borderLine
  .headlineTwo
    .headlineTextContainer
      h1.splashHead1.splashPageText YOU DAYUM
      h2.splashHead3.splashPageText
        |Tell us all about why you love bears
        br
        |just as much as we do!
    .slideShowContainer
      .slideShowImgContainer
        .slideShowText.slide1
          h2.splashText.splashPageText Show us what you've got,
          h2.splashText.splashPageText  and bring your stories to life!
        img(src="/icons/sunBear.jpg").slideImg.slide2.hidden
        img(src="/icons/polar.jpg").slideImg.slide3.hidden
        img(src="/icons/happyGrizzly.jpg").slideImg.slide4.hidden
        img(src="/icons/Bear_of_California_(Black).svg").slideImg4.slide5.hidden
      .slideShowNavigation
        .slideShowNavigationButton1.slideShowButton.currentSlideButton
        .slideShowNavigationButton2.slideShowButton
        .slideShowNavigationButton3.slideShowButton
        .slideShowNavigationButton4.slideShowButton
        .slideShowNavigationButton5.slideShowButton

  .borderLine
  .headlineThree
    .headlineTextContainer
      h1.splashHead.splashPageText WE DAYUM
      h2.splashHead3.spashPageText Join an ever growing community of at least four people!
    .headlineTextContainer
      h2.splashText.splashPageText Become a part of our community!
      .signUpBanner
      button.signUpBanner#signUpBanner.splashPageText Get Started
