extends layout.pug

block storyEdit
    h2 Edit Story
    p #{message}

    .stories: ul
        each story in stories
            .title: li
                h3= story.title
            .message: li: 
                p= story.message