.indicator-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  width: 100%;
  bottom: 10px;
  
  .indicator-box{
    padding: 1px;
    transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
    &.active{
      border-width: 1px;
      border-color: var(--color);
      border-style: solid;
    }
    .indicator{
      width: 10px;
      height: 10px;
      background-color: var(--color);
      margin: 2px;
    }
  }

}